* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: white;
  color: black;
}

.header {
  padding: 40px 0;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  font-family: Segoe UI;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.input-form input {
  width: 700px;
  height: 60px;
  border-radius: 15px;
  border: 1px solid #000;
  color: #8f8f8f;
  font-family: Segoe UI;
  font-size: 18px;
  padding-left: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.enter {
  font-family: Segoe UI;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.48px;
}

.enter {
  width: 250px;
  height: 60px;
  border-radius: 15px;
  border: 1px solid #000;
  font-family: Segoe UI;
  font-size: 24px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.text-account {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.text-no-account {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 400;
}

.create-account {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 400;
  color: #0019ff;
  text-decoration: none;
}
