* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: white;
  color: black;
}

.header {
  padding: 40px 0;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
}
