* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.scroll {
  transition: 1.5s ease-in-out;
}

.scroll-active {
  background-color: transparent;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: white;
  color: black;
}

.header {
  padding: 40px 0;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
}

.main-screen {
  background-image: url(../img/main-2.png);
  height: 100vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  overflow-y: hidden;
  padding-bottom: 300px;
}

.header .container {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 270px;
  margin-right: 270px;
}

.menu-list {
  list-style: none;
  display: flex;
}

.menu-item {
  margin-right: 100px;
}

.menu-item a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.menu-item a:hover {
  border-bottom: 2px solid black;
}

.header-scroll {
  background-color: white;
}

.header-scroll .menu-item a {
  color: black;
}

.header-scroll .logo img {
  filter: invert(1);
}

.btn-shop {
  width: 50px;
  height: 50px;
}

.btn-account {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.breadcrumb {
  display: flex;
  list-style: none;
  max-width: 1640px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.breadcrumb li + li:before {
  padding: 5px;
  color: black;
  content: ">";
  font-size: 20px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.breadcrumb-item a:hover {
  border-bottom: 1px solid black;
}

#main {
  padding-bottom: 200px;
}

.basket-title {
  font-family: Lora;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.basket-product {
  display: flex;
}

.shop-product {
  flex: 75%;
}

.basket-item {
  display: flex;
  width: 100%;
  height: 265px;
  margin-bottom: 30px;
  /* border: 1px solid white; */
  transition: all 0.6s ease;
}

.basket-item:hover {
  transform: scale(1.02);
  background-color: #d09661;
  color: white;
  border-radius: 15px;
}

.basket-product-text {
  padding: 20px;
  position: relative;
  width: 100%;
}

.product-name {
  font-family: Segoe UI;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.64px;
  margin-bottom: 30px;
}

.product-price {
  font-family: Segoe UI;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.64px;
  margin-bottom: 30px;
  margin-bottom: 50px;
}

.product-quantity {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.64px;
  margin-bottom: 30px;
  margin-bottom: 50px;
}

.product-quantity input {
  width: 30px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.product-item-button button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px;
  background-color: rgba(78, 124, 128, 1);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 10px;
}

.product-item-button button:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease-in-out;
}

.basket-right-bar {
  flex: 25%;
  margin-left: 40px;
  padding: 20px;
  height: 400px;
  border-radius: 10px;
}

.basket-right-bar-title {
  font-family: Segoe UI;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
}

.basket-right-bar p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 24px;
}

.btn-puy {
  width: 100%;
  height: 60px;
  font-size: 24px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #d09661;
}

.btn-puy:hover {
  background-color: #d09661;
  color: white;
  transition: 0.3s ease-in-out;
}

footer {
  border-top: 1px solid #000;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
}

.footer-vk img {
  width: 50px;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
